# {{ pve_managed_note | default('Managed by Ansible') }}
title: nggocnn homelab
description: 10.10.10.0/24
startUrl: http://10.10.10.141:3000
theme: dark
color: slate
headerStyle: boxed
layout:
  Infrastructure:
    style: rows
    columns: 2
  Monitoring:
    style: rows
    columns: 2
  Network:
    style: rows
    columns: 2
  Development:
    style: rows
    columns: 2
