AUTOKUMA__KUMA__URL=http://127.0.0.1:{{ uptime_kuma_port }}
AUTOKUMA__KUMA__USERNAME={{ autokuma_user }}
AUTOKUMA__KUMA__PASSWORD={{ _autokuma_password }}
AUTOKUMA__STATIC_MONITORS={{ autokuma_monitor_dir }}
AUTOKUMA__DATA_PATH={{ autokuma_data_dir }}
AUTOKUMA__DOCKER__ENABLED=false
