# Managed by Ansible.
PIHOLE_PROTOCOL=http
PIHOLE_HOSTNAME=127.0.0.1
PIHOLE_PORT=80
PIHOLE_PASSWORD="{{ _pihole_exporter_password | replace('\\', '\\\\') | replace('"', '\\"') }}"
BIND_ADDR={{ ansible_host }}
PORT={{ pihole_exporter_port }}
